{% extends 'posts_templates/post.html.jinja' %}
{% block user_spesific_inside_post %}
    {% if post.author == current_user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1"
                href="{{ url_for('posts.update_post', post_id=post.id) }}">עדכון</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                data-target="#deleteModal">מחיקה</button>
        </div>
    {% endif %}
{% endblock user_spesific_inside_post %}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">למחוק פוסט?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">סגירה</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
